# Ignore everything in the results/ directory
results/
# Ignore all Hydra outputs and experiment logs
*.log
tmp/

#  Ignore all __pycache__ directories
__pycache__/

# Ignore all .pytest_cache directories
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/

# Ignore picture files and numpy binary files
*.png
*.csv
*.dat
*.html